<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>About - Wuolah Adblock</title>
</head>

<body>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <div class="container">
        <p class="title">Acerca de</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <h1>¡Hola!</h1>
      <p>Este es un proyecto de <a href="https://github.com/pablouser1/wuolah-adblock">código abierto</a> creado por <a
          href="https://github.com/pablouser1">Pablo Ferreiro</a>.</p>
      <p>Si tienes algún problema con el programa, abre una <a
          href="https://github.com/pablouser1/wuolah-adblock/issues">issue</a> en Github</p>
      <h2>FAQ</h2>
      <h3>¿Qué acepta este proyecto?</h3>
      <p>Este programa acepta todos los pdfs de Wuolah con anuncios que no contengan otro pdf incrustado.</p>
    </div>
  </section>
</body>

</html>